*.pyc
__pycache__/
*.db
*~
.*
*.py.bak
*.zip
site/
htmlcov/
reports/
reports
build/
dist/
*.egg-info/
env/
coverage/
MANIFEST

!.package.json
!.package-lock.json
!.github
!.gitignore
!.pre-commit-config.yaml
/staticfiles/


/.idea/
# *.csv
/node_modules
.warmup
.serverless
.pytest_cache
/.pytest_cache
/htmlcov
.coverage
coverage
genbadge
/coverage
wsgi_handler.py
serverless_wsgi.py
config.py